{% extends "lampi/base.html" %}

{% block content %}
<div class="col-6">
    <h3>Lampis</h3>
    {% if devices.lampis %}
        <div class="list-group">
        {% for lampi in devices.lampis %}
           <a href="{% url 'lampi:lampidetail' lampi.device_id %}" class="list-group-item list-group-item-action">
            {{ lampi.name }} : {{ lampi.device_id }}</a>
        {% endfor %}
        </div>
    {% else %}
        <p>No Lampi Devices are available.</p>
    {% endif %}

    <br>
    <h3>Doorbells</h3>
    {% if devices.doorbells %}
        <div class="list-group">
        {% for doorbell in devices.doorbells %}
           <a href="{% url 'lampi:doorbelldetail' doorbell.device_id %}" class="list-group-item list-group-item-action">
            {{ doorbell.name }} : {{ doorbell.device_id }}</a>
        {% endfor %}
        </div>
    {% else %}
        <p>No Lampi Devices are available.</p>
    {% endif %}
</div>
{% endblock %}

{% block page_event %}LAMPI List{% endblock %}